/*All body*/

.body {
    height: 100vh;
}

.header {
    position: relative;
    /* relative maksudnya agar elemen bisa di pindahkan, by default position absolute */
    z-index: 9999;
}

.header span {
    font-size: 12px;
}


/*Section header 1*/

.header .item-header-1 {
    padding: 8px 32px;
    /* padding: jarak dalam element ke luar batas */
    background-color: #f4f4f4;
}

.header .item-header-1 span {
    color: #929292;
}

.header .item-header-1 span:hover {
    color: #03ac0e;
    cursor: pointer;
}

.header .item-header-1 img {
    width: 14px;
}


/*Section header 2*/

.item-header-2 {
    padding: 8px 32px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
}

.item-header-2 .img-tokopedia {
    width: 147px;
}

.item-header-2 .text-category {
    padding: 2px 5px;
}

.item-header-2 .text-category:hover {
    background-color: #f3f4f5 !important;
    cursor: pointer !important;
    color: #03ac0e;
    border-radius: 5px;
}

.item-header-2 span {
    color: #929292;
}

.item-header-2 .img-search,
.item-header-2 .img-shop {
    width: 18px;
}


/* section header pencarian */

.item-header-2 .wrap-search {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 35px;
}

.item-header-2 .wrap-search .form-control {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    z-index: 1;
}


/* ::placeholder u/ ngatur dalam tulisan pencarian*/

.item-header-2 .wrap-search .form-control::placeholder {
    color: #cdcdcd;
    font-size: 14px;
}


/* :focus u/ pas user ngetik pencarian muncul animasi */

.item-header-2 .wrap-search .form-control:focus {
    box-shadow: none;
    border: 1px solid #03ac0e;
}

.item-header-2 .wrap-search .wrap-icon-search {
    background-color: #f3f4f5;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4%;
}

.item-header-2 .wrap-search .wrap-icon-search .img-search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer !important;
}


/* masukkan keranjang */

.item-header-2 .wrap-img-shop {
    position: relative;
    background-color: transparent;
    height: max-content;
    width: max-content;
    padding: 0px 8px 5px 8px;
    border-radius: 3px;
    transition-duration: 0.5s;
}

.item-header-2 .wrap-img-shop:hover {
    background-color: #f3f4f5;
    cursor: pointer;
}

.line {
    font-size: 30px;
    color: #cdcdcd;
    margin-bottom: 3px;
    font-weight: 100px;
}


/* section login, register */

.header .btn {
    border-radius: 8px;
    font-size: 13px;
    background-color: #03ac0e;
}

.header .btn:first-child {
    background-color: #ffffff;
    color: #03ac0e;
    border: 1px solid #03ac0e;
}


/* section under-search */

.text-under-search {
    margin-left: 17%;
}

.text-under-search span:hover {
    color: #03ac0e;
    cursor: pointer;
}


/*Section cursor di keranjang cart, ini muncul*/

.menu-bar {
    display: flex;
    position: absolute;
    right: 35px;
    top: 91;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    border-radius: 12px;
    visibility: hidden;
    transition: 0.4s;
    transform: rotateX(-20deg);
    z-index: 9999;
}


/*StyleKeranjangBelanja ini dari DOM app.js untuk styling cart agar tampil pas di klik*/

.StyleKeranjangBelanja {
    margin-top: 35px;
    visibility: visible;
    transition: 0.4s;
}


/*overlay ini dari html id=overlay, biar pas cart belanja di klik, style block akan muncul*/

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 10%;
    z-index: 2 !important;
    cursor: pointer;
}

.styleOverlay {
    display: block !important;
}

.menu-bar h4 {
    font-size: 18px;
    font-weight: bold;
}

.menu-bar p {
    font-size: 14px;
    color: #31353bad;
}

.menu-bar .btn {
    color: #ffff;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    margin-bottom: 10px;
}

.menu-bar img {
    width: 150px;
    height: 150px;
}


/* section modal pencarian u/ header*/

.modal {
    z-index: 9999
}

.modal-content {
    top: 54px;
    right: 180px;
    padding: 10px;
    width: 167%;
    border-radius: 0;
    border: none;
    opacity: 97%;
}

.modal-content-head .btn {
    color: #03ac0e;
    border: 1px solid #03ac0e;
    background-color: transparent;
    border-radius: 8px;
    margin-top: 13px;
    animation: none;
}

.modal-content-head span {
    color: #333333;
}

.modal-content-head .title {
    color: #333333;
}


/* section categori sebelah logo */

.category {
    display: flex;
    /*flex biar rata*/
    flex-direction: column;
    /*flex:column biar ke kanan kayak kolom*/
    /*kalo ke bawah pakenya flex-direction: row, biar baris vertical*/
}


/*categori yg Atas scrol kanan kiri */

.head-category {
    width: 100%;
    overflow-x: scroll;
    /* overflow-x: scroll biar ada bisa digeser kekanan. X kanan kiri, kalo scroll atas bawah pake overflow-y*/
    position: fixed;
    top: 114px;
    z-index: 99999;
    /* z-index biar diatas sendiri posisinya, kayak popup */
    border-top: 1px solid #cdcdcd;
    background-color: #ffffff;
    position: absolute;
}

.head-category span {
    padding: 10px 30px;
    color: #969696;
    border-bottom: 2px solid transparent;
}

.head-category span:hover {
    padding: 10px 30px;
    border-bottom: 2px solid #03ac0e;
    color: #03ac0e;
    cursor: pointer;
}


/*categori yg bawah scrol atas bawah*/

.head-left {
    overflow-y: scroll;
    /* overflow-y: biar scroll ke bawah */
    height: 100vh;
    /* maksud 100vh: ukuranya biar selebar layar */
    padding-top: 70px;
    padding-left: 30px;
}

.head-left h6 {
    font-size: 12px;
    padding: 10px 0 10px 10px;
    border-radius: 4px;
    margin-right: 10px;
}

.head-left h6:hover {
    background-color: gainsboro;
    cursor: pointer;
}